[submodule "submodules/infra"]
	path = submodules/infra
	url = https://github.com/ozeliurs/infra.git
[submodule "submodules/bigcode"]
	path = submodules/bigcode
	url = https://github.com/ozeliurs/bigcode.git
[submodule "submodules/loxigen-artifacts"]
	path = submodules/loxigen-artifacts
	url = https://github.com/ozeliurs/loxigen-artifacts.git
